.no-display {
	display: none;
}

.english-mode+div+div {
	display: none;
}

.french-mode+div {
	display: none;
}

#renewal-text {
	margin: auto;
	margin-bottom: 10vh;
}

#renewal-text * {
	color: #fff;
	text-align: center;
	margin: auto;
	line-height: 1.5em;
}

#renewal-text .red-div {
	width: 5vw;
	height: 2px;
	background-color: #f55;
	margin: auto;
	margin-top: 2.5vh;
	margin-bottom: 2.5vh;
}

#renewal-text img {
	width: 100%;
	height: auto;
	margin-left: 0px;
	margin-right: 0px;
}


/* css for the notification that appears if customer lang is french but you're viewing the page in english */
#language-notification {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background-color: red; /* Light red background */
    color: white; /* Black text */
    z-index: 1050; /* Ensure it floats above content */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid black; /* Slightly darker red border */
    padding: 15px;
    border-radius: 8px;
}

#language-notification .btn-primary {
    background-color: red; /* Dark grey button */
    color: #333333; /* Darker grey text for the button */
    border: 1px solid #333;
}

#language-notification .btn-primary:hover {
    background-color: #c0c0c0; /* Slightly lighter grey on hover */
}

#language-notification .btn-close {
    color: red; /* Black close button */
    opacity: 0.7;
}

#language-notification .btn-close:hover {
    opacity: 1;
}
